<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.authandroid_smartcookies.smartcookie">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCookie">

        <activity android:name=".Main.Activities.SettingsActivities.appInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Main.Activities.SettingsActivities.teamInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Main.Activities.SettingsActivities.faqActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Main.Activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Main.Activities.RecipeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Main.Activities.LauncherActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Activities.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.HomeActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Activities.IntroActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>